
html, body, #root, .App {
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans', sans-serif;
  box-sizing: border-box;
}



.auth-box {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 100%;
}

.auth-input {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
}

.auth-button {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
